/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ------------ VARIABLES ------------ */
:root{
  /* FONT */
  --font: 'Poppins', sans-serif;

  /* COLORS */
  --color: #9176FF;
  --bg-color: #f4f4f4;
}

/* ------------ BASE ------------ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section  {
  padding-top: 50px;
  padding-bottom: 50px;
}

section h1{
  text-transform: uppercase;
  font-weight: 900;
  color: #683aa4;
  text-align: left;
  margin-bottom: 20px;
}

section p {
  font-size: 16px;
  font-weight: 300;
}

/* End  */

/* Navbar */
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav__link{
    color: var(--dark-color);
    font-weight: 400 ;
    display: flex;
    justify-items: center;
    gap: .25rem;
    align-items: center;
  }

  .nav__logo img {
    height: 40px;
  }
  
  .nav__link i{
    font-size: 1.25rem;
  }
  
  .nav__link span{
    font-size: .688rem;
    margin: 15px;
  }

  .nav__menu {
    position: fixed;
    bottom: 1.5rem;
    background-color: var(--light-color);
    box-shadow: 0 4px 12px hsla(220, 18%, 40%, .15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.25rem 2.8rem;
    border-radius: 0.5rem;

  .header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: var(--z-fixed);
    padding: 10px 0;
    transition: .4s ease;
   
   
   }
   
   .header .container{
     display: flex;
     align-items: center;
     justify-content: space-between;
   }

  /* End */

  /* Hero */
/* button {
  max-width: 50%;
  border-radius: 50px !important;
} */

#hero .col {
  justify-content: center; 
  flex-direction: column;
  display: flex;
}
#hero .img-col {
  justify-content: flex-end; 
  margin-top: 100px;
}
#hero img {
  max-width: 130% !important;
  width: 130%;
}

#hero{
  min-height: 70vh;
  height: 100%;
  width: 100%;
  background: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-gap: 4rem;
  justify-items: center;
}

.hero-text h1{
  margin: 10px 0px 25px;
  font-size: var(--fs-3x1);
  line-height: 1.3;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

h1 >  .magic {
  animation: background-pan 3s linear infinite;
 background: linear-gradient(to right,
 var(--purple),
 var(--violet),
 var(--pink),
 var(--purple)
 );
 background-size: 200%; 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 white-space: nowrap;
 font-family: 'MainFonts';
}

/* home service cards */
 .row-cards .card {
  box-shadow: 11px 7px 16px #f9f9f9;
  border: 0;
  text-align: center;
 }