/* Fonts: - Monsterrat: 400, 500, 600 -Prata: 400 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Prata&display=swap");
@font-face {
  font-family: 'MainFonts';
  src: url(fonts/CelineSans.otf);
}
@font-face {
  font-family: 'Secondfont';
  src: url(fonts/Hafidz\ Demo.ttf);
}
:root {
--hue: 200;
--saturation: 70%;
--lightness: 55%;
--header-height: 3.5rem;



  /* Colors */
  --primary-color: #fa4eab;
  --light-color: #fff2f9;
  --dark-color: #323232;
  --hot-pink: #fa4eab;
  --pink-color: #fe83c6;
  --white-color: #ffffff;
  --gray-color: #687080;
  --main-color: hsl(var(--hue), var(--saturation), var(--lightness));
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);

  

  /*Color mode HSL(hue, saturation, lightness)*/
  --bg-color: hsl(220, 18%, 78%);
  --bg-color-light: hsl(220, 18%, 86%);
  --title-color: hsl(220, 8%, 10%);
  --text-color: hsl(220, 4%, 32%);
  --text-color-light: hsl(220, 4%, 55%);
  --body-color: hsl(220, 18%, 99%);
  --container-color: hsl(220, 18%, 97%);

  /* Fonts */
  --primary-font: "Monstserrat", sans-serif;
  --second-font: "Prata", serif;
  --home-font:"Holid"
  --fs14: 14px;
  --fw600: 600;
  --fs-4x1: 50px;
  --fs-3x1: 35px;
  --fs-2x1: 26px;
  --fs-xl: 20px;
  --fs-lg: 18px;
  --fs-md: 16px;
  --fs-sm: 14px;
    /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Lora', serif;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /* Transitions */
  --transition-color: color 0.3s;
  --transition-background: background-color 0.3s;
  --transition-border: border 0.3s;
  --transition-transform: transform 0.3s;

  /* Border colors */
  --border-color: hsl(var(--hue), 48%, 80%);

  /* Shadow */
  --shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
  --focus-shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.6);

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}



body {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--dark-color);
  background-color: var(--white-color);
  transition: .4s; /*For animation dark mode*/
  
}

a {
  text-decoration: none;
  color: inherit;
  --webkit-tap-highlight-color: transparent;
}

p{
  margin-bottom: 15px;
}

h1 {
  font-family: 'Mainfont', var(--primary-font) ;
    font-size: 40px;
    color: var(--contrast-color);
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .5s;
}

h2{
  font-family: 'Secondfont' var(--second-font);
}


h1,
h2,
h3,
h4 {
 
  font-weight: 400;
  line-height: normal;
  color: var(--dark-color);
}


img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.nav__logo img {
  height: 40px;
}

ul {
  list-style: none;
}

ul li a{
  text-decoration: none;
  text-transform: uppercase;
}






a{
  color: var(--primary-color);
  text-decoration: none;
}



.btn{
   display: inline-block;
   padding: 10px 28px;
   background-color: var(--primary-color);
   color: var(--light-color);
   font-weight: 500;
   font-size: var(--fs14);
   text-transform: capitalize;
   line-height: 1.5;
   font-family: inherit;
   border: 2px solid transparent;
   border-radius: 30px;
   vertical-align: middle;
   user-select: none;
   transition: all 0.3s ease;
  
}
.btn:hover{
background-color: transparent;
color: var(--dark-color);
border-color: var(--hot-pink);
}

.btn-wrap{
  display: flex;
  margin: 30px 0 0 0;
  justify-content: center;
}

/* Grid */
.grid{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2,1fr);
}



.page-wrapper{
  overflow: hidden;
}
.nav{
height: var(--header-height);
display: flex;
justify-content: space-between;
align-items: center;
}

.nav__list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link{
  color: var(--dark-color);
  font-weight: 400 ;
  display: flex;
  justify-items: center;
  gap: .25rem;
  align-items: center;
}

.nav__link i{
  font-size: 1.25rem;
}

.nav__link span{
  font-size: .688rem;
  margin: 15px;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 3rem;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: 0 15px;
}

/* change bg header */
.scroll-header{
background: var(--light-color);
  box-shadow: 0 1px 4px hsla(220, 4%, 15%, .1);
}

/* Active Link */
.active-link{
  color: var(--primary-color);
}

/* theme */
 .dark-theme{
  --bg-color: hsl(220, 18%, 13%);
  --bg-color-light: hsl(220, 18%, 23%);
  --title-color: hsl(220, 8%, 95%);
  --text-color: hsl(220, 8%, 65%);
  --body-color: hsl(220, 18%, 18%);
  --container-color: hsl(220, 18%, 21%);
}

/* button dark/light */
.change-theme{
  color: var(--dark-color);
  font-size: 1.125rem;
  cursor: pointer;
}

.d-flex {
  display: flex;
  align-items: center;
}



.header{
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 z-index: var(--z-fixed);
 padding: 10px 0;
 transition: .4s ease;


}

.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hero */



.hero{
  min-height: 70vh;
  height: 100%;
  width: 100%;
  background: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-gap: 4rem;
  justify-items: center;
}

.hero-text h1{
  margin: 10px 0px 25px;
  font-size: var(--fs-3x1);
  line-height: 1.3;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

h1 >  .magic {
  animation: background-pan 3s linear infinite;
 background: linear-gradient(to right,
 var(--purple),
 var(--violet),
 var(--pink),
 var(--purple)
 );
 background-size: 200%; 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 white-space: nowrap;
}

@keyframes background-pan {
  from{
  background-position: 0% center;
}
to {
  background-position: -200% center;
}
}

.hero-text .btn{
  display: inline-block;
  padding: 10px 28px;
  background-color: var(--primary-color);
  color: var(--light-color);
  font-weight: 500;
  font-size: var(--fs14);
  text-transform: capitalize;
  line-height: 1.5;
  font-family: inherit;
  border: 2px solid transparent;
  border-radius: 30px;
  vertical-align: middle;
  user-select: none;
  transition: all 0.3s ease;
  position: relative;
  left: 35%;
 
}

.hero-text h2{
  position: relative;
  font-size: 20px;
  color: var(--dark-color);
  -webkit-text-stroke: 0.3w var(--hot-pink);
  text-transform: uppercase;
}

.hero-text h2::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: var(--primary-color);
  -webkit-text-stroke: 0vw var(--dark-color);
  -moz-border-bottom-colors: 1px solid gray;
  overflow: hidden;
  animation: animate 6s linear infinite;
  
}

@keyframes animate{

  0%,10%,100%{
    width: 0;
  }

  70%,90%{
    width: 100%;
  }
}

.social a{
width: 35px;
height: 35px;
border-radius: 50%;
display: inline-flex;
align-items: center;
justify-content:center;
background: var();
font-size: 17px;
columns: var(--bg-color);
margin-right: 10px;
margin-bottom: 20px;
}

.social a:hover{
  transform: scale(1.1);
  background: var(--dark-color);
  transition: .5s;
}


/* Home Page */

/* home container */

.home-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--bg-color);
}

.home-container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  color: var(--dark-color);
  animation: expand 5s ease forwards;
  background-color: var(--white-color);
  position: relative;
  font-family: 'Mainfonts' , var(--primary-font);
  transition: all 1s ease;
  max-width: 1024px;
  margin: auto;
  padding: 0 15px;
}

.container_content {
 width: 50%;
}

.container_content_inner {
  width: 80%;
}

.container_content_inner .title{
  overflow: hidden;
  height: auto;
  font-family: Secondfont;
  color: var(--hot-pink);
  font-weight: 700;
  margin-bottom: 50px;
}


.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}   
    
.container_img {
  width: 100%;
  animation: slideIn 5s ease-in-out forwards;
}

.par {
  height: auto;
  overflow: hidden;
}

.par p{
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}

.btns {
  height: 100%;
  position: relative;
  width: 150px;
  overflow: hidden;
}

.btns_more {
  background: transparent;
  border: 1px solid var(--hot-pink);
  border-radius: 50px;
  padding: 8px 12px;
  color: #BF307F;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  animation: slideUp .8s ease-in-out  forwards 1s;
}

.title {
  overflow: hidden;
  height: auto;
}



@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}


.home{
  padding: 100px 0 60px;
  background-color:var(--white-color);
  overflow: hidden;
  height: 100vh;
  margin-bottom: 50px;
}

.home-text{
width: 100%;
height: 100%;
animation: slide-in 2s ease-out;
}


.home-img{
  overflow: hidden;
  width: 100%;
 height: 100%;
 margin: 0;
 animation: slide-left 2s ease-out;
}

@keyframes slide-left {
  0%   { 
  transform: translateX(-200%); 		
  }
  100% { 
  transform: translateX(0%); 
  }
 }


.home-text, .home-img{
 grid-column: span 1;
 align-self: center;
}

.home-text h2{
font-size: var(--fs-3x1);
margin: 0 0 15px 20px;
text-transform: capitalize;
text-align: center;
}

.home-text p{
margin: 0 0 0 30px;
text-align: center;

}

@keyframes slide-in {
  0%   { 
  transform: translateX(200%); 		
  }
  100% { 
  transform: translateX(0%); 
  }
 }

.home-imgage{
  position: relative;
}

.home-img img{
  max-width: 500px;
  display: block;
  margin: auto;

}


/* Quotes */
.animated-border-quote {
  display:inline-block;
  margin:1em;
  max-width:20em;
  overflow:hidden;
}

  blockquote {
    background-color:var(--white-color);
    border: solid 2px #757575;
    display: inline-block;
    margin: 0;
    padding: 1em;
    position: relative;
    &:before {
      animation:clockwise 30s infinite linear;
      background-color: var(--hot-pink);
      bottom:10%;
      content: "";
      left: 0;
      opacity:.5;
      position: absolute;
      right: 0;
      top:10%;
    }
    &:after {
      animation:counter 30s infinite linear;
      background-color: #fff;
      bottom:10%;
      content: "";
      left: 0;
      opacity:.5;
      position: absolute;
      right: 0;
      top:10%;
    }
    .cite {
      display: block;
      font-style: italic;
      text-align: right;
      &:before {
        content: "- ";
      }
    }
    > * {
      position: relative;
      z-index: 1;
    }
  }
}

@keyframes clockwise {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}

@keyframes counter {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(-360deg);
  }
}
/* Quotes End */


/* Home Ends */

/* Layers */
/*-------Offer---------*/

.offer {
  background: radial-gradient(rgb(255, 255, 255), #e4f1f1);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

small {
  color: #333;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding-top: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}




/* Layers End */

/* Tabs */

#tabs{
  height: 30vh;
}


.tabs{
  position: absolute;
  width: 100%;
  height: 250px;
  background: var(--bg-color);
  padding: 20px 30px;
  box-shadow: 5px 10px 5px #ccc;
  color: whitesmoke;
}

.tabs .tabs-header{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tabs .tabs-header > div {
  width: calc(100% / 3);
  text-align: center;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
}

.tabs .tabs-header > div > i {
  display: block;
  margin-bottom: 5px;
}

.tabs .tabs-header > div.active {
  color: var(--hot-pink);
}

.tabs .tab-indicator{
  position: relative;
  width: calc(100% / 3);
  height: 5px;
  background: var(--hot-pink);
  left: 0px;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
  margin-bottom: 25px;
}

.tabs .tab-body{
  position: relative;
  height: calc(100% - 60px);
  padding: 10px 5px;
}

.tabs .tab-body > div {
  position: absolute;
  top: -200%;
  opacity: 0;
  margin-top: 5px;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms, 
  transform 500ms ease-in-out 0ms;
}

.tabs .tab-body > div.active {
  top: 0px;
  opacity: 1;
  transform: scale(1);
  margin-top: 0px;
}


/* Tabs End */

/* About Page */

.section-padding{
  height: 100vh;
  margin-bottom: 100px;
  margin-top: 200px;
}



.about-container{

    max-width: 1024px;
    margin: auto;
    padding: 0 15px;
   
}

.about-container .grid{
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
}

.about-section-tilte{
  text-align: center;
  margin: 0 0 15px;
}
.about-img,
.about-text{
  grid-column: span 1;
}

.title{
  font-size: var(--fs-3x1);
  text-align: center;
}

.about-img img{
 max-width: 500px;
margin: auto;
padding: 15px;
 position: relative;

}

.about-img .img-box {
  border-radius: 50%;
}

.about-img .box{
  height: 125px;
  width: 125px;
  background-color: var(--dark-color);
  position: absolute;
}

.about-img .box-1{
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.about-img .box span{
  color: var(--primary-color);
  font-weight: bold;
  font-size: var(--fs-3x1);
  margin: 0 0 5px;
  line-height: 1;
}

.about-img .box p{
  font-size: var(--fs-sm);
}





/* Statement */
#work {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("images/4P5A9705.jpg") center/cover no-repeat fixed;
  color: var(--light-color);
  margin-top: 20px;
}

.lead{
  font-family: 'Mainfonts', var(--primary-font);
}

.work-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

#work .title h2,
#work h3 {
  color: var(--light-color);
}
#work .title h2::after {
  background: var(--light-color);
}
.work-bottom {
  margin-top: 4rem;
  text-align: center;
}
.work-bottom > div .icon img {
  width: 50px;
  margin: 0 auto 1.7rem auto;
}


/* Statement End */

/* About End */

/* Services */


/* fun facts Slider */
.swiper{
  width: 100%;
  height: 80vh;
  margin-top: 200px;
}

.blog-slider__wrp .swiper-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
}

.card{
  width: 20em;
  height: 90%;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, .2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 2em;
}



.card__image{
  width: 10em;
  height: 5em;
  border-radius: 50%;
  border: 5px solid var(--color);
  padding: 3px;
  margin-bottom: 2em;
}

.card__image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card__content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title{
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: .2em;
  font-family: 'MainFonts';
}

.card__name{
  color: var(--color);
  font-family: 'Mainfonts';
  font-weight: 500;
}

.card__text{
  text-align: center;
  font-size: 13px;
  margin: 1em 0;
  font-family: 'Mainfonts';
}

.card__btn{
  background-color: var(--color);
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: .5em;
  border-radius: .5em;
  margin-top: .5em;
  cursor: pointer;
}

/* Product Card */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-centerY-centerX {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-wrapper {
  height: 100%;
  display: table;
}

.page-wrapper .page-inner {
  display: table-cell;
  vertical-align: middle;
}

.el-wrapper {
  width: 360px;
  padding: 15px;
  margin: 15px auto;
  background-color: #fff;
}

@media (max-width: 991px) {
  .el-wrapper {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .el-wrapper {
    width: 290px;
    margin: 30px auto;
  }
}

.el-wrapper:hover .h-bg {
  left: 0px;
}

.el-wrapper:hover .price {
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #818181;
}

.el-wrapper:hover .add-to-cart {
  left: 50%;
}

.el-wrapper:hover .img {
  webkit-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
  opacity: 0.4;
}

.el-wrapper:hover .info-inner {
  bottom: 155px;
}

.el-wrapper:hover .a-size {
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  bottom: 50px;
  opacity: 1;
}

.el-wrapper .box-down {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.el-wrapper .box-up {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.el-wrapper .img {
  padding: 20px 0;
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
}

.h-bg {
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width: 660px;
  height: 100%;
  background-color: #3f96cd;
  position: absolute;
  left: -659px;
}

.h-bg .h-bg-inner {
  width: 50%;
  height: 100%;
  background-color: #464646;
}

.info-inner {
  -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
  display: block;
}

.info-inner .p-name {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #252525;
}

.info-inner .p-company {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #8c8c8c;
}

.a-size {
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: -20px;
  font-family: 'PT Sans', sans-serif;
  color: #828282;
  opacity: 0;
}

.a-size .size {
  color: #252525;
}

.cart {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.cart .price {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #252525;
}

.cart .add-to-cart {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
}


/* Service End  */

/* Products */
.products-container{
  padding-bottom: 5rem;
}

.products-card{
  width: 270px;
}

.products-img{
  margin-bottom: 1rem;
}

.products-title{
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
  margin-top: 0.75rem;
  text-align: center;
}

.products-price{
  color: var(--dark-color);
  font-weight: var(--fs-2x1);
}

/* Product Swiper  */
.swiper-button-prev::after,
.swiper-button-next::after{
  content:'';
}

.swiper-button-prev,
.swiper-button-next{
  top: initial;
  bottom: 0;
  width: initial;
  height: initial;
  font-size: 1.5rem;
  color: var(--dark-color);
}

.swiper-button-prev{
  left: calc(50% - 2rem);
}

.swiper-button-prev{
  right: calc(50% - 2rem);
}

.swiper-container{
  width: 100%;
  max-width: 1024px;
  background-color: var(--light-color);
}

.swiper mySwiper .swiper-wrapper{
  height: 35rem;
}


/* Footer */
.footer{
  padding: 40px 0;
  background-color: whitesmoke;
}

.footer .social{
  text-align: center;
padding-bottom: 23px;
color: var(());
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover{
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 1.6;
  margin-bottom: 0;
}

.footer ul li{
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer .copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  columns: #aaa;
}

.footer-logo img{
  height: 50px;
  margin-right: 1.25rem;
  margin-bottom: 2em;
}




/*  */


      /* scroll up */
      .scroll-up{
        position: fixed;
        right: 1rem;
        bottom: -30%;
        background-color: (var(--container-color));
        box-shadow: 0 8px 12px hsla(220, 17%, 45%, .15);
        display: inline-flex;
        padding: .35rem;
        color: var(--dark-color);
        font-size: 1.1rem;
        z-index: var(--z-tooltip);
        transition: .3s;
      }


      .scroll-up:hover{
        transform: translateY(-.25rem);
      }

      .show-scroll{
        bottom: 7.5rem;
      }

      /* scroll bar */
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb{
  background-color: var(--white-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsla(220, 8%, 54%,);
}


/* Reponsive */



@media screen and (min-width: 1124px){
:root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

@media screen and (min-width: 1124px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

@media screen and (max-width: 1023px){
  .nav__menu{
    position: fixed;
    bottom: 1.5rem;
    background-color: var(--light-color);
    box-shadow: 0 4px 12px hsla(220, 18%, 40%, .15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.25rem 2.8rem;
    border-radius: .5rem;
  }
}


@media (max-width: 800px) {

  }
  .home{
    display: grid;
   grid-template-columns: 1fr;
   min-height: 100vh;
   grid-gap: 1rem;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px){
  .nav__logo img{
    margin-left: 40px;
  }

  .change-theme{
    margin-right: 50px
  }

  .grid{
    row-gap: 30px;
    grid-template-columns: repeat(1,1fr);
  }
  
  


  .hero img{
    
  }

  .hero-text h1 {
    font-size: 1.2rem;
    font-weight: 100;
    margin-left: 2rem;
    line-height: 1.5;
    font-family: var(--primary-font);  
  }



  h1 >  .magic {
    animation: background-pan 3s linear infinite;
   background: linear-gradient(to right,
   var(--purple),
   var(--violet),
   var(--pink),
   var(--purple)
   );
   background-size: 200%; 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   white-space: nowrap;
  }

  @keyframes background-pan {
    from{
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

    .hero-text h2{
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 3.5rem;
      white-space:nowrap;
    }

  .btn{
    margin-left: 140px;
    margin-top: 50px;
  }

  .home-text{
  font-size: .8rem;
  text-align: center;
  font-weight:400;
  max-width: 500px;
  }

  .home-text p{

  }


  .home-img{
  
  }

  .btn-wrap a{
    margin-right: 30px;
  }

  .about-container{
    max-width: 1024px;
    margin: auto;
    padding: 0 15px;
  }

 .about-img img{
   border-radius: inherit;
   margin-left: 30px;
  }

  .about-text p {
    font-size: .8rem;
    text-align: center;
    font-weight: 400;
    max-width: 500px;
    margin-left: 20px;
  }
  
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
 }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
 }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
 }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  box-shadow: 4px 13px 30px 1px rgba(255, 0, 191, 0.233);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
 }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
 }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
 }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
 }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
 }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50% !important;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
 }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
 }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--primary-color);
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
 }
}

.fun-facts{
  min-height: 10vh;
}






header {
  text-align: center;
}
.section-heading {
  margin: 3rem 0;
  font-size: 4rem;
  padding-bottom: 0.7rem;
  position: relative;
  display: inline-block;
}
.section-heading::before,
.section-heading::after {
  content: '';
  position: absolute;
}
.section-heading::before {
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background: var(--primary);
  border-radius: 0.2rem;
}
.section-heading::after {
  bottom: -0.4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid var(--primary);
  background: var(--box-shadow);
}
.tab-container {
  width: 100%;
  margin: 0 auto 3rem auto;
  box-shadow: 0 0.8rem 1rem var(--box-shadow);
}
@media (max-width: 767px) {
  .tab-container {
    width: 90%;
  }
}
.tab-filter-container {
  padding: 2rem;
  text-align: center;
  background: hsl(205.71, 30.43%, 95.49%);
}
.filter-btn {
  display: inline-flex;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  border-radius: 2rem;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}
.filter-btn.active {
  background: var(--primary);
  color: var(--white);
}
.tab-filter-item-container {
  background: var(--white);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.tab-item {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0rem 3rem;
  transform: translateY(100%);
  background: var(--white-light);
  transition: transform 0.5s ease-in-out;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  place-items: center start;
}
.tab-img {
  width: 30rem;
}
.tab-heading {
  padding: 2rem 0;
  font-size: 3rem;
}
.tab-item.select_tab {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
  background: var(--white-light);
  animation: feadIn 0.6s ease-in-out;
}
.btn-primary {
  margin-top: 1.5rem;
  display: inline-block;
  background: var(--primary);
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  color: var(--white);
}
@keyframes feadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}












/* About-grid */

/* //Variables */
$mobile-breakpoint: 350px;
$large-mobile-breakpoint: 530px;
$tablet-breakpoint: 700px;
$desktop-breakpoint: 1200px;


/* //Mixins// */
/* //Centering Mixins// */
@mixin horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


Media Query mixins
@mixin mobile {
  @media (min-width: #{$mobile-breakpoint}) and (max-width: #{$large-mobile-breakpoint - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$large-mobile-breakpoint}) and (max-width: #{$tablet-breakpoint - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-breakpoint}) and (max-width: #{$desktop-breakpoint}) {
    @content;
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
   0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}

@keyframes scaleDown {
    0% {
    transform: scale(1);
  }
   10% {
    transform: scale(0.7);
  }
   95% {
    transform: scale(0.7);
  }
   100% {
    transform: scale(1);
  }
}

@keyframes reveal-info {
  0% {
    height: 0;
  }
  5% {
    height: 350px;
  }
  95% {
    height: 350px;
  }
  100% {
    height: 0;
  }
}
.ab-section{
  margin-top: 150px;
  margin-bottom: 50px;
}
.ab-container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 800px;
  background-color:var(--light-color) ;
  font-size: 14px;
  font-family: 'Mainfonts', var(--primary-font);

  .container-inner { 
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   position: relative;
   animation: fade-in 1.5s ease, slide-in 1.2s ease;
   -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
    .main-content {
      flex-basis: 50%;
      order: 1;
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      
      .main-headings { 
        width: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
        animation: scaleDown 6s ease 2s;
       -webkit-animation: scaleDown 6s ease 2s;
    
        .heading {
           margin-top: 20px;
           margin-left: 80px;
           margin-bottom: 50px;
          #heading1, #heading2, #heading3 {
            margin: 0;
            margin-top: -20px;
            
          }

          #heading1, #heading2 {
            font-size: 500%;
            font-weight:normal;
            letter-spacing: -2px;
          }

          #heading1 {
            margin-left: 50px;
            font-family: 'Secondfont' 
            }

          #heading2 {
            margin-left: 150px;
          }

          #heading3 {
            margin-top: -52px;
            font-size: 1100%;
            font-weight: 800;
            letter-spacing: 2px;
            }
        }
        .short-bio {
          width: 70%;
          margin-top: -30px;
          margin-left: 90px;
          font-style: italic;
          font-size: 150%;
          line-height: 1.3;
        }

        .link a{
          width: 72%;
          margin-left: 92px;
          margin-right: auto;
          align-self: flex-start;
          font-weight: bold;
          font-size: 120%;
          font-family: helvetica;
          text-decoration: none;
          color: black;
          &:hover {
            text-decoration: underline;
          }
        }  
      }
       .more-info {
          margin-top: -70px;
          width: 50%;
          height: 0;
          margin-left: auto;
          margin-right: auto; 
          align-self: flex-start;
          overflow: hidden;
          animation: reveal-info 4s ease 3s;
         -webkit-animation: reveal-info 4s ease 3s;
       }
    }
    .image-wrapper {
      flex-basis: 50%; 
      order: 2;
      background-color: var(--light-color)
    }

      .image-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: scaleDown 6s ease 2s;
       -webkit-animation: scaleDown 6s ease 2s;
       .img {
          width: 100%;
          height: auto;
          position: relative;
         }
        }
      }     
   }
  



//Media Query for mobile devices 
@include mobile {
   * {
    animation-name: none !important;
  }
  .ab-container {
    width: 90%;
    height: 700px;
    @include horizontal-center;
    font-size: 5px;
    margin-bottom: 20px;
  }
  .container-inner {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .main-content, .image-wrapper {
    flex-basis: 100% !important;
  }
  .main-content {
    order: 2 !important;
    outline: 1px solid red;
    margin: 0 50px;
  }
  .image-wrapper {
    order: 1 !important;
  }
  .heading {
    margin-left: 55px !important;
  }
  #heading1, #heading2 {
   margin: 0;
   margin-top: -5px !important;
    }
  #heading2 {
    margin-left: 100px !important;
  }
  #heading3 {
    margin-top: -20px !important;
  }
  .short-bio {
    margin-top: -10px !important;
    margin-left: 60px !important;
  }
   .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    //text-align: justify;
    font-size: 8px;
  }
  .link {
    display: none;
  }
  .image-wrapper {
    order: 1 !important;    
    width: 100%;
    height: 100px !important;
    justify-content: center !important;
  }
  .image-container {
    width: 100% !important;
    height: 400px;    
    @include horizontal-center;
    @include vertical-center;
  }
  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    @include horizontal-center;
  }
}


//Media Query for tablet devices 

@include tablet {
  * {
    animation-name: none !important;
  }
  .ab-container {
    width: 90%;
    height: 900px;
    @include horizontal-center;
    font-size: 8px;
  }
  .container-inner {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .main-content, .image-wrapper {
    flex-basis: 100% !important;
  }
  .main-content {    
    width: 80%;
    order: 2 !important;    
    align-self: center !important;
  }
  .main-headings {
    width: 100%;
    margin-top: 20px; 
    @include horizontal-center;
  }  
  .heading {
    margin-left: 55px !important;
  }
  #heading1, #heading2 {
    margin: 0;
    margin-top: -15px !important;
    }
  #heading3 {
    margin-top: -30px !important;
  }
  .short-bio {
    margin-top: -20px !important;
    margin-left: 60px !important;
  }
  .link {
    display: none;
  }
  .more-info {
    height: 150px !important;
    width: 60% !important;
    margin: 0 !important;
    align-self: flex-start !important;
    margin-top: 0px !important;
    margin-left: 60px !important;
    text-align: justify;
  }
  .image-wrapper {
    order: 1 !important;    
    width: 100%;
    height: 400px;
    justify-content: center !important;
  }
  .image-container {
    width: 100% !important;
    height: 400px;    
    @include horizontal-center;
  }
  img {
    width: 80% !important;
    height: auto !important;
    top: -20px;
    @include horizontal-center;
  }
}



@include tablet {
  .ab-container {
    width: 100%;
    height: auto;
    font-size: 7px;
  }
  #heading3 {
    margin-top: -35px !important;
  }
  .link {
    margin-left: 30px;
  }
  .more-info {
    margin-top: -40px !important;
  }
}
*/
Media query for desktop devices 

@include desktop {
  .ab-container {
    width: 100%;
    height: auto;
    font-size: 9px;
  }
  #heading3 {
    margin-top: -35px !important;
  }
  .link {
    margin-left: 30px;
  }
  .more-info {
    margin-top: -40px !important;
  }
}




